# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Entorno virtual
venv/

# Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Variables sensibles
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db